flows.json
[
    {
        "id": "024bdd6db9e35d5f",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "544766541f685886",
        "type": "mqtt-broker",
        "name": "HiveMQ",
        "broker": "6e33277df1aa4e1793971087c3026307.s1.eu.hivemq.cloud",
        "port": 8883,
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "user": "${MQTT_USER}",
        "password": "${MQTT_PASS}",
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "eccb77e8e27faa8e",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "2f18b604a9c13348",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "b83f0803be4d03c3",
        "type": "ui_group",
        "name": "Fall Detection",
        "tab": "eccb77e8e27faa8e",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "76ed1387998d786d",
        "type": "inject",
        "z": "024bdd6db9e35d5f",
        "name": "Test Fall",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "fall/alert",
        "payload": "{\"fall\":true}",
        "payloadType": "json",
        "x": 160,
        "y": 140,
        "wires": [
            [
                "34fdad8ecf8e4cd6"
            ]
        ]
    },
    {
        "id": "894ad3e84723d4cd",
        "type": "mqtt out",
        "z": "024bdd6db9e35d5f",
        "name": "",
        "topic": "fall_detection/data",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "544766541f685886",
        "x": 850,
        "y": 260,
        "wires": []
    },
    {
        "id": "9bc84d3dedc2abc8",
        "type": "mqtt in",
        "z": "024bdd6db9e35d5f",
        "name": "Receive Fall",
        "topic": "fall/alert",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "544766541f685886",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 200,
        "wires": [
            [
                "34fdad8ecf8e4cd6"
            ]
        ]
    },
    {
        "id": "34fdad8ecf8e4cd6",
        "type": "function",
        "z": "024bdd6db9e35d5f",
        "name": "Format LINE Message",
        "func": "var token = \"24pP//+vgxlCJdqbPcqseZr24MspRs8ZVE64gVIycc3YkGAgihIpfUQCdytS8yntloYAAr//oBNZjLOo4QIltOaDqlaRHugEXO7DK8+Ehtwqy/V32QrINwAx8B/NNLde9I2nLlv7mFdMs5zWKYduoAdB04t89/1O/w1cDnyilFU=\";\nvar userId = \"U49b60c0e190f3d2a0c5dfd1d13b2d6a4\";\n\nvar message = \"🚨 ตรวจพบการล้ม! กรุณาตรวจสอบผู้สูงอายุด่วน!\";\n\n// ถ้าเป็น Topic Emergency\nif (msg.topic === \"fall/emergency\") {\n    message = \"🆘 กดปุ่มฉุกเฉิน! ต้องการความช่วยเหลือด่วน!\";\n}\n\nmsg.url = \"https://api.line.me/v2/bot/message/push\";\nmsg.method = \"POST\";\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": \"Bearer \" + token\n};\nmsg.payload = {\n    \"to\": userId,\n    \"messages\": [{\n        \"type\": \"text\",\n        \"text\": message\n    }]\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 260,
        "wires": [
            [
                "f5b7e30b2276baa2"
            ]
        ]
    },
    {
        "id": "f5b7e30b2276baa2",
        "type": "http request",
        "z": "024bdd6db9e35d5f",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 670,
        "y": 260,
        "wires": [
            [
                "02856c68fe0699b2"
            ]
        ]
    },
    {
        "id": "02856c68fe0699b2",
        "type": "debug",
        "z": "024bdd6db9e35d5f",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 260,
        "wires": []
    },
    {
        "id": "0676443c9b74070a",
        "type": "mqtt in",
        "z": "024bdd6db9e35d5f",
        "name": "Receive SOS",
        "topic": "fall/emergency",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "544766541f685886",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 260,
        "wires": [
            [
                "34fdad8ecf8e4cd6"
            ]
        ]
    },
    {
        "id": "18c0c98f86057088",
        "type": "inject",
        "z": "024bdd6db9e35d5f",
        "name": "Test SOS",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "fall/emergency",
        "payload": "{\"emergency\":true}",
        "payloadType": "json",
        "x": 160,
        "y": 320,
        "wires": [
            [
                "34fdad8ecf8e4cd6"
            ]
        ]
    }
]